syntax: regexp
(.*/)?\#[^/]*\#$
^examples/.+\.rst


syntax: glob
*.bak
*.cache
*.egg
*.egg-info
*.err
*.fai
*.gzi
*.log
*.orig
*.pgd.gz
*.pyc
*.pyc
*.pylint
*.pyo
*.rej
*.sha1
*.so
*.sql.gz
*.sqlite3
*.tar.gz
*.tmp
*~
.*.conf.mk
.DS_Store
.coverage
.eggs
.idea
.installed.cfg
archive
aux/mirrors-ncbi
aux/sequences
aux/sequences2
bdist
build
cover
data/**/*.gz
data/ncbi/*/src/
dist
doc/build
examples/*_files
examples/.ipynb_checkpoints
lib/python/cover
lib/python/uta/_release.py
loading/data
loading/data/ncbi
loading/dumps
loading/invitae_transcripts.txt
loading/logs
misc/docker/fig.yml
misc
nosetests.xml
sdist
tmp
venv
misc/ncbi-geneinfo/ncbi.geneinfo.tsv.gz
