<!DOCTYPE html>
<html>
<head>
    <title>UTA API</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="row-fluid">
    <div class="span12">
        <h3>Welcome to the UTA API</h3>
        <h4>Here's how to use the API:</h4>
        <br>
        <div>
            <p>
                <b>Example 1: Translate NC genomic coordinates into NM transcript coordinates:</b>
            </p>
            <p>
                <code>
                    curl {{ base_url }}{{ urls['hgvs_to_hgvsc'] }} -d "hgvsg=NC_000007.13:g.36561662C>T&ac=NM_001177507.1&ref=GRCh37.p10"
                </code>
            </p>
            <p>
                The JSON response is:
            </p>
            <code>
                {
                  "hgvsc": "NM_001177507.1:c.1486C>T",
                  "hgvsp": "TBD",
                  "uta_version": "version is not working..."
                }
            </code>
        </div>
        <br><br>
        <div>
            <p>
                <b>Example 2: Returning the variant genomic coordinates from an NM:</b>
                <div>(Note: this is not Reece approved)</div>
            </p>
            <p>
                <code>
                    curl {{ base_url}}{{ urls['hgvs_to_genomic_coords'] }} -d "hgvs=NM_001177507.1:c.1486C>T"
                </code>
            </p>
            <p>
                The JSON response is:
            </p>
            <code>
                {
                  "chr_start": 36561662,
                  "chr_end": 36561662,
                  "chrom": "7",
                  "strand": "-",
                  "uta_version": "version is not working..."
                }
            </code>
        </div>
    </div>
</div>
</body>
</html>